* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black; 
}

a {
    text-decoration: none;
    color: white;
}

/* Partie header */
header {
    background-color: #F8F8F8;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Augmente le z-index pour s'assurer qu'il est au-dessus des autres éléments */
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour le header */
}

header > p {
    padding: 0 30px;
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    text-transform: capitalize;
    display: inline-block;
    color: #DAA520;
}

.entete {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 30px;
    position: relative;
    background-color: white;
    margin: 20px 50px;
}

.entete p, .entete i {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.entete p {
    margin-left: 20px;
    margin-right: 20px;
}

.entete > p {
    margin-left: 10px;
}

.entete i {
    border: 1px solid #2C3E50;
    padding: 5px;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-25%);
}

.search-container {
    display: none;
}

.navigation {
    width: 100%;
    display: inline-block;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin: 0;
}

.navigation nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
}

.navigation nav ul li {
    /* text-decoration: none; */
    margin: 10px 0;
    display: inline-block;
    border: 2px solid white;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3e5079;
    color: #F2F2F2;
    text-align: center;
}
.navigation nav ul li:first-child {
    background-color: #2C3E50;
    margin-left: 30px;
}

.navigation nav ul li:last-child {
    margin-right: 3.8%;
}

.entete p:hover, .entete i:hover {
    color: #2c3e5079;
}

/* Section accueil */
#Acceuil {
    background-image: url('main/main1.png'),url('main/main2.png');
    background-repeat: no-repeat; 
    background-position: right, bottom left ; 
    z-index: 1;
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    background-color: black;
}

#Acceuil p {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 4.5em;
}

/* section article */

/* partie 1 */
#diamant, #or, #autres{
    background-color: white;
}

#partie1 p {
    padding: 10px 0px 10px 0px;
    margin-top: 30px;
    border: 1px solid #2C3E50;
    color:#2C3E50;
    text-align: center;
    font-size: 260%;
}
#partie1 .images {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#partie1 img {
    width: 19%;
    border: 3px double #2C3E50;
}
#partie1 img:first-child {
    margin-left: 50px;
}
#partie1 img:last-child {
    margin-right: 50px;
}

/* partie2 */
#partie2 {
    background-color: white; 
    margin: 5% 10%;
    display: flex;
    height: 450px;
    flex-direction: column;
    padding: 2% 5%;
}
#partie2 #titre{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#partie2 #titre h1 {
   font-size: 2.5em;
}

#partie2 #categories{
    height: 500px;
    background-color: #F2F2F2;
    float: left;
    margin-right: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#partie2 #categories ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e5079;
    margin-top: 3%;
    box-sizing: border-box;
    height: 6vh;
    font-size: 1.7em;
    width: 20vw;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
#partie2 #categories ul li:first-child{
    background-color: #2C3E50;

}

/* A propos de nous */
#A-propos-de-nous p{
    background-image: url('vitrine.jpg')no-repeat;
}
